html{
    width:100vw;
    height:100vh;
    /* overflow-y: hidden; */
    --main-color: #5865F2; 
    --second-color:#EB459E;
    --third-color:#FEE75C;
    --fourth-color:#57F287;
}
body{
    background-color:var(--main-color);
    overflow-y: hidden;
    width:100vw;
    height:100vh;
  
}

/* First Screen : Icon intro */

.introContainer{
    /* background-color:turquoise; */
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.mainIntro{
    /* background-color:yellow; */
    width:50%;
    height:60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    align-self:center;
    /* position:relative;
    left:20%;
    margin-top:10%; */
}

.imgBox{
    /* background-color: #B9ABFF; */
    width:45%;
  }

  .imgBoxExtra{
    width:15%;
    height:60%;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
 
   
  }
.imgBox2{
    top:15%;
    left:5%;
    visibility:hidden;
}



.imgBox3{
    top:15%;
    left:80%;
    visibility:hidden;
}
.littleSpeech{
    width:90%;
    height:50%;
    background-image:url("./imgs/speech.png");
    background-size: 100% auto;
    background-repeat:no-repeat;
    align-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
}
.littleSpeech h2{
    margin-right:auto;
    margin-left:auto;
    }

.mePic{
    width: 85%;
    border: 10px solid white;
    border-radius:50%;
    background-color:#B9ABFF;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
}

.mePic2{
    width: 85%;
    border: 10px solid white;
    border-radius:50%;
    background-color:#B9ABFF;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    align-self:flex-end
}

/* .speechBox{
    background-color: blueviolet;
    width:70%;
    height:100%; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
    /* position:relative;
    top:-35%;
    left:-10%;

} */

.speechBubble{
    width:50%;
    height:100%;
    background-image:url("./imgs/speech.png");
    background-size: 100% auto;
    background-repeat:no-repeat;
    /* background-position: -10%; */
    position:relative;
    top:-30%;
    left:-8%;
    visibility:hidden; 
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color:green; */
}

/* .talk{
    width:100%;
    align-self:center; */
    /* background-image:url("./imgs/speech.png");
    background-size:contain;
    background-repeat:no-repeat; */
/* } */

.textBox{
    width:70%;
    height:40%;
    position:relative;
    /* top:30%;
    left:6%; */
    align-self:center;
    font-size:60%;
}

.clickBox{
    height:20%;
    /* background-color:green; */
    color:white;
    /* position:absolute;
    top:70%; */
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: center;

}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
   
    color:white;
    display:block;
   
    text-align: center;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .blinkBox{
    visibility:hidden;
    margin-left:2%;
  }

  .blinkBox:hover{
    cursor:pointer;
  }


  /* 2nd Screen with Name Input */

  .questionContainer{
    display:none;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    padding-top: 5%;
  }

  .hmQuestion{
    color:white;
    font-size:2rem;
    align-self:center;
  }

  .inputBox{
    display:flex;
    flex-direction:row;
    justify-content: center;
  }

  #hmName{
    font-size:1.5rem;
    width:30%;
    align-self: center;

  }

  .hmName{
    width:50px;
    height:50px;
    border-radius:50%;
    padding:1%;
  }

  .hmNameButton{
    background-image:url("./imgs/arrow.png");
    background-repeat: no-repeat;
    background-color:var(--main-color);
    background-size:60px 60px;
    width:60px;
    height:60px;
    border:none;
  }

  .robotSitting{
    width:20%;
  }

  /* 3rd Screen with Beginning of Cover Letter */

  
.mePic3{
    width: 10%;
    border: 10px solid white;
    border-radius:50%;
    background-color:#B9ABFF;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    position:absolute;
    margin-left:-15%;
    top:8%;
    
}

  .coverLetterPart1{
    display:none;
    flex-direction:column;
    /* justify-content:flex-start; */
    padding-left:20%; 
    /* background-color: white;  */
    height:100vw;
  }


  
  .typingGreeting {
    width: 66ch;
    /* animation: typing 2s steps(22), blinks .5s step-end infinite alternate; */
    animation: typing 2s steps(22), blinks 4s step-end forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
    color:white;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
    

  
  @keyframes blinks {
    0%, 100% {
      border-color: transparent;
    }
  }



  .slide{
    position: relative;
    left: 100%;
    top:0%;
    width: 85%;
    padding:1%;
    /* border:10px solid var(--fourth-color); */
    border-radius:10px;
    background: white;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
  }

  .speech-bubble{
  --bbColor:white;
  --bbArrowSize: 1.5rem;
  --bbBorderRadius: 0.25rem;
  --bbPadding: 1rem;
  background: var(--bbColor);
  border-radius: var(--bbBorderRadius);
  padding: var(--bbPadding);
  position: relative;
}

.speech-bubble::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 2.3rem 0 0 2.3rem; /* Adjust these values to change the size of the arrow */
    border-color: transparent transparent transparent var(--bbColor);
    top: 0;
    left: -.95rem; /* Adjust this value to position the arrow horizontally */
    transform: rotate(-45deg); /* Rotate the arrow */
}
  




 @-webkit-keyframes slide {
    0% { left: 100%; }
    100% { left: 0%; }
}

@keyframes slide {
    0% { left: 100%; }
    100% { left: 0%; }
}

.slideScreen4{
    position: relative;
    left: 100%;
    top:-80%;
    width: 75%;
    padding:1%;
    /* border:10px solid var(--fourth-color); */
    border-radius:10px;
    background: white;
    -webkit-animation: slideScreen4 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slideScreen4 0.5s forwards;
    animation-delay: 2s;
  }

 @-webkit-keyframes slideScreen4 {
    0% { left: 100%; }
    100% { left: 3.5%; }
   
}

@keyframes slideScreen4 {
    0% { left: 100%; }
    100% { left: 3.5%; }

}




.skillsAlert{
  
    width:120%;
    display:none;
    flex-direction: row;
    
    position:relative;
    top:1%;
    left:-20%;   
    height:20vh;
}

.megaPhone{
   
    width:11%;
   
}



.skillsAnimation {
    animation: scale-up-hor-left 1s forwards;
    vertical-align: top;
    height:30px;
    font-size: 70%;
    width:8%;
    color:white;
    
  }
  .skillsAnimation h1{
    position:relative;
    top:-80%;
  }

  @keyframes scale-up-hor-left {
    0% {
      transform: scaleX(0.4);
      transform-origin: 0% 0%;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 0% 0%;
    }
  }

.skillBox{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.skill{
    /* border:1% black solid; */
    border-radius:5px;
    background-color: var(--second-color);
    color:white;
    height:20px;
    padding:0.5%;
    padding-top:2.5%;  
    text-align:center;
    margin:1.5%;
    padding-left:2%;
    padding-right:2%;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.skill1{
    animation-delay: 1s;
}
.skill2{
    animation-delay: 1.5s;
}
.skill3{
    animation-delay: 2s;
}
.skill4{
    animation-delay: 2.5s;
}
.skill5{
    animation-delay: 3s;
}


.moreButton{
    animation-delay:4s;
    background-image:url("./imgs/arrow.png");
    background-repeat: no-repeat;
    background-color:var(--main-color);
    background-size:60px 60px;
    width:60px;
    height:60px;
    border:none;
    position:relative;
    right:0%;
    bottom:-25%;
}

.moreButton:hover{
    cursor:pointer;
}

.slideup{
    transition: transform 1s ease;
}
.slideup.clicked {
    transform: translateY(-800%);
  }


  /* 4th screen with other jobs and soft skills */

.coverLetterPart2{
    /* margin-top:2%; */
    height:60vh;
    width:80vw;
     position:absolute;
    top:-210%;
    left:-60%; 
    /* transform: translateX(-0%); */
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    transition: transform 1s ease;
    position:relative;
   
  
 
    


}
/*speech bubble arrow*/
.coverLetterPart2::before {
    content: '';
    position: absolute;
    bottom: -5%;
    left: 150px; /* Adjust this value to position the arrow horizontally */
    border-style: solid;
    border-width: 1.9em  1.9em 0; /* Adjust these values to change the size of the arrow */
    border-color: white transparent transparent transparent;
    z-index: 1;
    transform: rotate(-20deg)
}
.coverLetterPart2.clicked{
transform: translateX(400%);
}



.fading{
    transition: opacity 0.6s ease;
}

.fading.fade {
    opacity: 0;
    visibility: hidden;
}
.more2Button{
    background-image:url("./imgs/arrow.png");
    background-repeat: no-repeat;
    background-color:var(--main-color);
    background-size:60px 60px;
    width:60px;
    height:60px;
    border:none;
    position:absolute;
    bottom:0%;
    right:-10%;
    z-index:999;
   
}

.more2Button:hover{
    cursor:pointer;
}

.otherJobs{
    /* margin-bottom:5%; */
  
    display:flex;
    flex-direction:column;
    height:70%;

}
.hoverDivStudy{
    height:25%;
    margin-bottom:3%;
   
}

.hoverDivSkills{
    height:25%;
    margin-bottom:3%;
   
}

.hoverDivPassion{
    height:25%;
   
}

.study{
    display:block;
}
.study:hover{
    cursor:pointer;
}
.studySpan{
    color:var(--main-color);
}

.studyHover{
    display:none;
}
.studyHover:hover{
    cursor:pointer;
}

.jobSkills{
    display:block;
}
.jobSkills:hover{
    cursor:pointer;
}
.jobSkillsHover:hover{
    cursor:pointer;
}
.jobSkillsHover{
    display:none;
    flex-wrap: wrap;
    justify-content: center;
}

.hoverSkill{
    background-color: var(--main-color);
    color:white;
    border-radius:5px;
    margin-left:10px;
    margin-right:10px;
    padding:4px;
}

.italPassion{
    color:var(--main-color);
    font-style: italic;
    margin-left:10px;
}
.passion{
    display:block;
}
.passion:hover{
    cursor:pointer;
}
.passionHover:hover{
    cursor:pointer;
}

.passionHover{
    display:none;
}
.mouseOverSec{
    position:absolute;
    top:0%;
    color:var(--main-color);
    align-self:center;
   
}

.bottomHoverPage{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height:30%;
    width:70%;
    position:absolute;
    bottom:-38%;
   
}
.mePic4{
    width: 15%;
    border: 5px solid white;
    border-radius:50%;
    background-color:#B9ABFF;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    
    
}

/* 5th screen drag and drop */

.coverLetterPart3{
    display:none;
    flex-direction:column;
    align-items: center;
    width:100%;
    height:100%;
    color:white;
    /* background-color:yellow; */
    position:absolute;
    top:0%;
    left:0%;

    
}
.bootcampBox{
    /* background-color:purple; */
    /* position:absolute;
    top:0%;
    left:0%; */
    width:100%;
    text-align:center;
    margin-bottom:2%;
    height:20%;
}

.dragContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content:center;
    width:98%;
    background-color:white;
    border:10px solid var(--second-color);
    height:30%;
}


.draggable{
    cursor:move;
    user-select: none;
    z-index:99999;
}

.dragPic{
    width:50px;
    height:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    cursor:pointer;
}



.dropZone{
    
    width:100%;
    height:35%;
    color:black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   padding-left:50px;
    margin-top:10px;  
    /* background-color: aqua; */
   
}


.dropHere {
    width: 45%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    z-index: 1005;
    background-color: white;
    position: relative;
}

.dropHere::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 2.3rem 2.3rem 2.3rem 0; /* Adjust these values to change the size of the arrow */
    border-color: transparent white transparent transparent;
    top: 70%;
    right: -1.5rem; /* Adjust this value to position the arrow horizontally */
   
    z-index: 1006;
    transform: translateY(-50%) rotate(180deg);
}

.tool{
    width:8%;
   
    position:absolute;
    left:52%;
    top:76%;
    z-index:9999;
    border: 5px solid white;
    border-radius:50%;
    background-color:#B9ABFF;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
}

.dropComImg{
    width:45%;
    height:100%;
    /* background-color: green; */
}



.dropLaptop{
    width:70%;
    height:auto;
    position:relative;
    top:-20%;
}

.explanationBox{
    /* background-color:red; */
    height:100%;
    width:70%;
    position:relative;
    top:-190%;
    left:0%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
   
}
.explanationTextBox{
    color:var(--main-color);
    font-family: 'Press+Start+2P', monospace;
    /* position:relative;
    top:-10%;
    left:27%; */
    z-index:999999;
    font-size: 170%;
    border: none;
    font-weight:bolder;
   
}

.smIcon{
    /* position:relative;
    left:27%;
    top:-12%; */
    z-index:1002;
}


.wrench{
    width:40px;
}


.button4{
    background-image:url("./imgs/arrow.png");
    background-repeat: no-repeat;
    background-color:var(--main-color);
    background-size:60px 60px;
    width:60px;
    height:60px;
    border:none;
    position:absolute;
    left:92%; 
    top:80%;

}

/* Part 4 - Projects */
.coverLetterPart4{
    display:none;
    flex-direction: row;
    width:100%;
    height:500px;
    background-color: black;
    position:absolute;
    top:15%;
    left:0%;
}
.monsterBox{
    box-sizing: border-box;
    position:absolute;
    top:-15%;
    left:0%;
    width:100%;
    height:30%;
    padding-left:5%;
    padding-right:5%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    z-index:999999;
    
}
.mePic5{
    width:80px;
    height:80px;
    border: 7px solid white;
    border-radius:50%;
    background-color:#B9ABFF;
    /* padding-top:5px;
    padding-left:5px;
    padding-right:5px; */
}

.picContainer{
    width:40%;
    height:50%;
    /* background-color: #B9ABFF; */
    position:relative;
    top:20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;

}

.displayProject{
    width:100%;
}

.arrowContainer{
    width:10%;
    height:30%;
    /* background-color: yellow; */
    display:flex;
    flex-direction:row;
    position:absolute;
    top:80%;
    left:25%;
}
.rightArrow{
    width:60px;
    height:60px;
    margin-right:10px;
    background-color: transparent;
    border:none;
    
}
.leftArrow{
    width:60px;
    height:60px;
    margin-right:10px;
    background-color: transparent;
    border:none;
    
}
.arrow{
    width:60px;
    height:60px;
  
    
}

.projectContainer{
    width:60%;
    height:70%;
    /* background-color: green; */
    position:relative;
    top:20%;
    right:-5%;
    display:flex;
    flex-direction:column;
    color:white;
}

.projectExplain{
width:75%;
position: absolute;
top:-25%;
}


.projectSelect{
width:150%;
display:flex;
flex-direction:row;
/* background-color:pink; */
position:absolute;
top:75%;
left:-7%;

}

.projectMiniBoxFeature{
    width:200px;
    height:100px;
    background-color:black;
    color:white;
    border:1px solid var(--main-color);
    margin-right:20px;
    text-align:center;
    line-height:100px;
}

.projectMiniBoxVis{
    width:200px;
    height:100px;
    background-color:white;
    color:black;
   
    margin-right:20px;
    text-align:center;
    /* line-height:100px; */
}

.miniProjImg{
    width:125px;
    position: relative;
    top:-60%;

}

.miniTitle{
    position:relative;
    top:-30%;
    color:black;
}
.project1.miniProjImg{
    display:none;
}

.button5{
    background-image:url("./imgs/arrow.png");
    background-repeat: no-repeat;
    background-color:var(--main-color);
    background-size:60px 60px;
    width:60px;
    height:60px;
    border:none;
    position:absolute;
    left:94%; 
    top:86%;
    z-index:999999;

}

.linkBox{
    /* position: absolute;
    top:-15%; */
    align-self: center;
    margin-bottom: 5%;
}

.linkBox a:link{
    color:white;
}
.linkBox a:visited{
    color:var(--main-color);
}
.linkBox a:hover{
    color:var(--main-color);
}
.linkBox a:active{
    color:var(--main-color);
}

.codeImgLink1{
    color:var(--main-color);
    text-decoration:underline 1px var(--main-color);
}

.linkDiv{
    display: flex;
    flex-direction: row;
    
    
    height:30px;
    z-index:9999999;
}
.linkDiv a{
    
    margin-right:40px;
}
.linkDiv a:link{
    color:white;
}
.linkDiv a:visited{
    color:var(--main-color);
}
.linkDiv a:hover{
    color:var(--main-color);
}
.linkDiv a:active{
    color:var(--main-color);
}
.projectImgPopUp{
    display:none;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border:white solid 10px;
    position:absolute;
    top:50%;
    left:50%;
    width:80%;
    height:90%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    z-index:999998;
}

.projCodeImg{
    width:75%;
    height:auto;
  
}

.projImgArrow{
    width:32px;
    height:32px;
    margin:10px;
  
}

.projImgArrow:hover{
    cursor:pointer;
}

.codeImgLink1:hover{
    cursor: pointer;
}

.exitCodeImg:hover{
    cursor:pointer;
}

.exitCodeImg{
    align-self: flex-end;
    margin-bottom:10px;
    
  
}

.ex{
    width:24px;
    height:24px;
}

/* Final Pages */
.coverLetterPart5{
    display:none;
    flex-direction:row;
    justify-content: center;
    align-items: flex-end;
    /* background-color: #B9ABFF; */
    width: 98%;
    height:78%;
    position:absolute;
    top:0%;
    left:0%;
    padding-top:5%;
 

}

.conImgBox{
    width:20%;
    height:65%;
    /* background-color: aquamarine; */
    /* position:relative;
    bottom:0%; */
}

.constr{
   
        width: 45%;
        border: 5px solid white;
        border-radius:50%;
        background-color:#B9ABFF;
        padding-top:5px;
        padding-left:5px;
        padding-right:5px;
        margin-left:35%;
        
        
    
}

.whyExplanationBox{
    background-color:white;
    /* border:5px solid black; */
    border-radius:10px;
    width:50%;
    height:100%;
    z-index:1;
    padding:20px;
   
    position:relative;

}

.whyExplanationBox::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 115%; /* Positioning from the right side */
    margin-right: -115px; /* Adjust this value to position the arrow horizontally */
    border-style: solid;
    border-width: 20px 25px 20px 0; /* Adjust these values to change the size of the arrow */
    border-color: transparent white transparent transparent ; /* Adjust this if you want a different color */
    z-index: 99999999;
}


.mousePic{
    width:30px;
    margin-right:10px;
}

.hireText{
    height:100%;
    width:50%;
    background-image:url("./imgs/speech.png");
    background-size: 100% auto;
    background-repeat:no-repeat;
    /* background-color:yellow; */
    /* background-position: -200% 0%; */

}

.strongSuggestion{
    color:#EB459E;
    font-size: 25px;
    width:60%;
    position:relative;
    top:25%;
    left:25%;

}

.hireMeImg{
    width:200px;
    
  
}

.hireMe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:80%;
    width:30%;
    position:relative;
    right:30%;
    z-index:0;
    padding-bottom:3%;
    animation:slideOut 3s forwards;
    color:white;
    /* background-color:green; */
}

@-webkit-keyframes slideOut {
    0% { }
    100% { right: -3%; }
}

@keyframes slideOut {
    0% { }
    100% { right:-3%; }
}

.why1{
    margin-bottom:5%;
}

.why2{
    margin-bottom:5%;
}

.why4{
    display:none;
}
.why5{
    display:none;
}
.why6{
    display:none;
}
.why7{
    display:none;
}
.resumeDownload{
    display:none;
    position:relative;
    top:25%;
    left:30%;
}

.whyExplanationBox a:link{
    color:var(--main-color);
}
.whyExplanationBox a:visited{
    color:var(--main-color);
}
.whyExplanationBox a:hover{
    color:var(--main-color);
}
.whyExplanationBox a:active{
    color:var(--main-color);
}

.button6{
    visibility: none;
    background-image:url("./imgs/arrow.png");
    background-repeat: no-repeat;
    background-color:var(--main-color);
    background-size:60px 60px;
    width:60px;
    height:60px;
    border:none;
   position:absolute;
   right:0%;
   bottom:-6%;
    z-index:999999;
}
.end{
    display:none;
    position:relative;
    left:25%;
    color:var(--main-color);
   
}
.startOver{
    display:none;
    position:relative;
    left:25%;
    
}
.paint{
    display:none;
    width:50%;
    position:relative;
    bottom:-30%;
    left:25%;
   
}

/* MEDIA QUERIES */

@media only screen and (max-width:1200px){
   
    /* page 5 */
    /* .dragContainer{
        height:45%;
    }
    .smIcon{
        bottom:5%;
    }
    .explanationBox{
        top:0%;
    } */

    .explanationBox{
        top:-150%;
    }
}

@media only screen and (max-width:1000px) {
    /* page 1 */
    .textBox{
        width:25%;
        height:35%;
        position:relative;
        top:30%;
        left:10%;
        font-size:50%;
        /* background-color:red; */
    }
    /* page 4 */
    .coverLetterPart2{
        height:75%;
    }
    .hoverDivStudy{
        margin-bottom:6%;
    }
    .hoverDivSkills{
        margin-bottom:6%;
    }
  
    /* page 5 */
    /* .coverLetterPart4{
        flex-direction: column;
    } */

    .bootcampBox{
        height:30%;
        margin-bottom:7%;
    }
}



@media only screen and (max-width:880px) {
    /* page 1 */
    .textBox{
        width:30%;
        height:35%;
        position:relative;
        top:30%;
        left:10%;
        font-size:50%;
        /* background-color:red; */
    }
    .clickBox{
        height:20%;
        flex-direction: column;
        align-items:center;
    }

    /* page 3 */
    .skillsAnimation{
        display:none;
    }
  
}